.container {
  width: 1200px;
  margin: 0 auto;
}

.link {
  border: 1px solid #1b96f3;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.link-active {
  background-color: #1b96f3;
}
.link:hover {
  background-color: #1b96f3;
}
.hero-title {
  font-size: 3.2rem;
  text-align: center;
  margin: 3rem 0;
}

.hero-link-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-link-container .link {
  margin: 1rem;
}

.card-container {
  margin: 3rem 0;
}

.card {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #333;
  margin: 1em 0;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 600px) {
  .card {
    max-height: 500px;
  }
}
@media (min-width: 1200px) {
  .card {
    height: 20%;
    max-height: 300px;
    margin: 2em 0;
  }
}
.card:hover {
  box-shadow: 8px 16px -4px rgb(0, 0, 0);
  transform: scale(1.015);
}
.card-text {
  /* padding: 5vw; */
  padding: 5em;
}
@media (min-width: 1200px) {
  .card-text {
    padding: 3em;
  }
}
.card-text p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 2.5rem;
  /* margin-bottom: 3rem; */
}
.card-img {
  width: 450px;
  min-height: 300px;

  object-position: center;
  object-fit: cover;
}
.popup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
  color: #000 !important ;
}

.popup {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  width: 450px;
}
.popup .link {
  color: #000 !important ;
}
.popup h1 {
  margin-top: 0;
}
.popup .link:hover {
  color: #fff !important ;
}
@media (max-width: 500px) {
  .popup {
    width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  .container {
    width: 95%;
  }
  .card-img {
    width: 300px;
    min-height: 300px;
  }
}

.primary {
  background-color: #1b96f3;
}
@media screen and (max-width: 750px) {
  html {
    font-size: 80%;
  }

  .card {
    flex-direction: column;
  }
  .card-img {
    width: 100%;
    max-height: 200px;
  }
  .card-text {
    padding: 2rem;
  }
  .card-text p {
    margin-bottom: 1rem;
  }
}
